<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Goal</title>
</head>
<body>
    <header>
        <h1>Create Goal</h1>
    </header>
    <main>
        <form action="">
            <label for="">Goal Name</label>
            <input type="text">

            <label for="">Description</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>

            <label for="">Why do you want to accomplish it?</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>

            <label for="">Pick a expected date</label>
            <input type="date">

        </form>

    </main>
</body>
</html>